.product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.shop-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.selection-area {
    background-color: rgb(221, 221, 221);
    text-align: center;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 688px) {
    .product-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        overflow-x: hidden;
    }

    .shop-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: hidden;
    }

}