.product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.shop-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.selection-area {
    background-color: rgb(221, 221, 221);
    text-align: center;
    position: sticky;
    top: 0;
}